*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100vh;
    font-size: 14px;
}

/* utilities */
.pointer:hover{
    cursor: pointer;
}

/* HEADER */
header{
    padding: 10px 5px;
    text-align: right;
}

header > .butt-header{
    color: white;
    background-color: #222629;
    padding: 5px;
    border: 0;
    border-radius: 3px;
}

/* MAIN */
main{
    flex-grow: 1;
    overflow: auto;
    margin-bottom: 10px;
}

.reunion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reunion li{
    width: 250px;
    list-style: none;
}

.box{
    height: 130px;
    margin: 5px;
    position: relative;
}

.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.username{
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.644);
    border-radius: 1px;
}

.username .off{
    color: red;
}

.reunion li:nth-child(13){
    border: 4px solid #5fc011;
}

/* FOOTER */
footer{
    background-color: #222629;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: white;
}

.useful{
    display: flex;
    list-style: none;
    padding: 10px;
}

.useful li{
    margin-right: 25px;
}

.useful li div .icon{
    display: block;
    text-align: center;
    margin-bottom: 5px;
    font-size: 20px;
}

.useful .menu{
    display: flex;
}

.useful .menu .up-menu{
    margin-left: 10px;
    align-items: flex-start;
}

.useful .menu .up-menu.fa-angle-up{
    margin-left: 10px;
}

.partecipants{
    text-align: center;
    margin-bottom: 2px;
    font-size: 20px;
}
.partecipants > span{
    font-size: 14px;
}

.useful .menu .share{
   color: #4dca00;
}

.exit{
    background-color: rgba(255, 255, 255, 0.11);
    border: 0;
    color: rgb(255, 0, 0);
    padding: 0 10px;
    font-size: 16px;
}