*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100vh;
}

/* utilities */
.pointer:hover{
    cursor: pointer;
}

/* HEADER */
header{
    padding: 10px 5px;
    text-align: right;
}

header > .butt-header{
    color: white;
    background-color: #222629;
    padding: 5px;
    border: 0;
    border-radius: 3px;
}

/* MAIN */
main{
    flex-grow: 1;
    overflow: auto;
}

/* FOOTER */
footer{
    height: 50px;
    background-color: #222629;
}