*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100vh;
}
/* utilities */

/* HEADER */
header{
    height: 50px;
    background-color: lightgreen;
}

/* MAIN */
main{
    flex-grow: 1;
    overflow: auto;
    background-color: rgb(164, 144, 238);
}

/* FOOTER */
footer{
    height: 50px;
    background-color: lightblue;
}